body {
    background: #333;
    color: #bca;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

div {
    /* font-family: monospace; */
}

img {
    margin: 15px;
    padding: 5px;
    height: auto;
    border: 4px solid #333;
    width: 40px;
    max-width: 17%;
}

img:active, img.active {
    border: 4px solid #675;
    opacity: .5;
}

input[type="text"] {
    background: transparent;
    border: 0;
    color: #bca;
    font-family: "Courier New", Courier, monospace;
    font-size: 15pt;
    width: 100%;
    text-align: center;
}

#media-artist {
    font-size: 14pt;
    margin-bottom: 5px;
}

#media-title {
    font-size: 13pt;
    opacity: .8;
    margin-bottom: 5px;
}

#media-album {
    opacity: .6;
    font-size: 11pt;
}

#volume {
    opacity: .9;
    font-size: 12pt;
}
